Saffron UK import data: 2019 - 2023 provided by: https://wits.worldbank.org/trade/comtrade/en/country/GBR/year/2022/tradeflow/Imports/partner/ALL/product/091020

In [1]:
import pandas as pd

uk_import_path_2019 = "./uk-imports-data/uk-import-2019.xlsx"
uk_import_path_2020 = "./uk-imports-data/uk-import-2020.xlsx"
uk_import_path_2021 = "./uk-imports-data/uk-import-2021.xlsx"
uk_import_path_2022 = "./uk-imports-data/uk-import-2022.xlsx"
uk_import_path_2023 = "./uk-imports-data/uk-import-2023.xlsx"

imports_2019 = pd.ExcelFile(uk_import_path_2019)
imports_2020 = pd.ExcelFile(uk_import_path_2020)
imports_2021 = pd.ExcelFile(uk_import_path_2021)
imports_2022 = pd.ExcelFile(uk_import_path_2022)
imports_2023 = pd.ExcelFile(uk_import_path_2023)

dfs_19 = {sheet_name: imports_2019.parse(sheet_name) 
          for sheet_name in imports_2019.sheet_names}

dfs_20 = {sheet_name: imports_2020.parse(sheet_name) 
          for sheet_name in imports_2020.sheet_names}

dfs_21 = {sheet_name: imports_2021.parse(sheet_name) 
          for sheet_name in imports_2021.sheet_names}

dfs_22 = {sheet_name: imports_2022.parse(sheet_name) 
          for sheet_name in imports_2022.sheet_names}

dfs_23 = {sheet_name: imports_2023.parse(sheet_name) 
          for sheet_name in imports_2023.sheet_names}


data_19 = dfs_19["By-HS6Product"]
data_20 = dfs_20["By-HS6Product"]
data_21 = dfs_21["By-HS6Product"]
data_22 = dfs_22["By-HS6Product"]
data_23 = dfs_23["By-HS6Product"]

In [2]:
data_19 = pd.DataFrame(data_19,
                  columns=['Reporter', 'TradeFlow', 'ProductCode', 'Product Description', 'Year', 'Partner', 'Trade Value 1000USD', 'Quantity', 'Quantity Unit'])

data_19 = data_19.drop(columns=["Reporter", "TradeFlow", "ProductCode", "Product Description", "Quantity Unit"])

data_20 = pd.DataFrame(data_20,
                  columns=['Reporter', 'TradeFlow', 'ProductCode', 'Product Description', 'Year', 'Partner', 'Trade Value 1000USD', 'Quantity', 'Quantity Unit'])

data_20 = data_20.drop(columns=["Reporter", "TradeFlow", "ProductCode", "Product Description", "Quantity Unit"])

data_21 = pd.DataFrame(data_21,
                  columns=['Reporter', 'TradeFlow', 'ProductCode', 'Product Description', 'Year', 'Partner', 'Trade Value 1000USD', 'Quantity', 'Quantity Unit'])

data_21 = data_21.drop(columns=["Reporter", "TradeFlow", "ProductCode", "Product Description", "Quantity Unit"])

data_22 = pd.DataFrame(data_22,
                  columns=['Reporter', 'TradeFlow', 'ProductCode', 'Product Description', 'Year', 'Partner', 'Trade Value 1000USD', 'Quantity', 'Quantity Unit'])

data_22 = data_22.drop(columns=["Reporter", "TradeFlow", "ProductCode", "Product Description", "Quantity Unit"])

data_23 = pd.DataFrame(data_23,
                  columns=['Reporter', 'TradeFlow', 'ProductCode', 'Product Description', 'Year', 'Partner', 'Trade Value 1000USD', 'Quantity', 'Quantity Unit'])

data_23 = data_23.drop(columns=["Reporter", "TradeFlow", "ProductCode", "Product Description", "Quantity Unit"])

data_19 = data_19.rename(columns={"Partner": "From", "Trade Value 1000USD": "value"})
data_20 = data_20.rename(columns={"Partner": "From", "Trade Value 1000USD": "value"})
data_21 = data_21.rename(columns={"Partner": "From", "Trade Value 1000USD": "value"})
data_22 = data_22.rename(columns={"Partner": "From", "Trade Value 1000USD": "value"})
data_23 = data_23.rename(columns={"Partner": "From", "Trade Value 1000USD": "value"})

In [3]:
data_19["value"] = 1000 * data_19["value"]
data_20["value"] = 1000 * data_20["value"]
data_21["value"] = 1000 * data_21["value"]
data_22["value"] = 1000 * data_22["value"]
data_23["value"] = 1000 * data_23["value"]

In [ ]:
data_23['Cost_per_kg'] = data_23['value'] / data_23['Quantity']
data_23

In [ ]:
path = "./uk-imports-data/country_hsproduct2digit_year.dta"
df = pd.read_stata(path)
df

Dataframe by baci: https://www.cepii.fr/CEPII/en/bdd_modele/bdd_modele_item.asp?id=37 HS22 (2022), functions below only obtain saffron for uk

In [97]:
def map_country_codes(country_codes_path):
    country_codes_df = pd.read_csv(country_codes_path)
    country_codes_map = {}

    for _, r in country_codes_df.iterrows():
        country_codes_map[r["country_code"]] = r["country_name"]
    
    return country_codes_map

def get_saffron_imports(data_path, country_codes_map):
    df_baci = pd.read_csv(data_path)

    df_baci.rename(columns={"t": "year", "i": "exporter", "j": "importer", "k": "product", "v": "value", "q": "quantity"}, inplace=True)

    saffron_data = df_baci[df_baci['product'] == 91020] #saffron code is 91020
    saffron_data_uk = saffron_data[saffron_data['importer'] == 826] #uk code 826

    for i, r in saffron_data_uk.iterrows():
        saffron_data_uk.at[i, "exporter"] = country_codes_map[r["exporter"]]
    
    return saffron_data_uk

In [98]:
path_baci_2022 = "./baci_data/BACI_HS22_Y2022_V202401b.csv"
country_codes_path = "./baci_data/country_codes_V202401b.csv"

country_codes_map = map_country_codes(country_codes_path)
data_saffron_uk_2022 = get_saffron_imports(path_baci_2022, country_codes_map)

data_saffron_uk_2022

C:\Users\Radur\AppData\Local\Temp\ipykernel_19640\4269434908.py:19: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Afghanistan' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  saffron_data_uk.at[i, "exporter"] = country_codes_map[r["exporter"]]

,year,exporter,importer,product,value,quantity
4829,2022,Afghanistan,826,91020,192.219,1.110
421458,2022,Austria,826,91020,16.307,0.208
451397,2022,Bahrain,826,91020,0.064,NA
764026,2022,Belgium,826,91020,2.891,0.682
974359,2022,Brazil,826,91020,0.468,0.038
1920166,2022,China,826,91020,5.112,2.080
2497862,2022,Denmark,826,91020,2.931,0.005
3119941,2022,France,826,91020,605.306,0.481
3541287,2022,Germany,826,91020,31.594,1.860
3675387,2022,Greece,826,91020,99.205,0.630
3988396,2022,Hungary,826,91020,0.006,NA
4009891,2022,Iceland,826,91020,0.010,NA
4153571,2022,Iran,826,91020,954.194,10.991
4244953,2022,Ireland,826,91020,30.697,0.043
4666440,2022,Italy,826,91020,41.000,0.034
6362871,2022,Netherlands,826,91020,2.337,0.032
6985129,2022,Poland,826,91020,19.559,0.064
7147496,2022,Portugal,826,91020,2.611,0.017
7285017,2022,Romania,826,91020,20.472,0.006
7790220,2022,India,826,91020,59.948,0.188
8410016,2022,South Africa,826,91020,0.355,0.103
8723857,2022,Spain,826,91020,2544.860,7.261
8920590,2022,Sweden,826,91020,2.274,0.058
9519485,2022,United Arab Emirates,826,91020,95.736,0.325
9879890,2022,Türkiye,826,91020,3.257,0.124