Saffron UK import data: 2019 - 2023 provided by: https://wits.worldbank.org/trade/comtrade/en/country/GBR/year/2022/tradeflow/Imports/partner/ALL/product/091020

In [67]:
import pandas as pd

uk_import_path_2019 = "./uk-imports-data/uk-import-2019.xlsx"
uk_import_path_2020 = "./uk-imports-data/uk-import-2020.xlsx"
uk_import_path_2021 = "./uk-imports-data/uk-import-2021.xlsx"
uk_import_path_2022 = "./uk-imports-data/uk-import-2022.xlsx"
uk_import_path_2023 = "./uk-imports-data/uk-import-2023.xlsx"

imports_2019 = pd.ExcelFile(uk_import_path_2019)
imports_2020 = pd.ExcelFile(uk_import_path_2020)
imports_2021 = pd.ExcelFile(uk_import_path_2021)
imports_2022 = pd.ExcelFile(uk_import_path_2022)
imports_2023 = pd.ExcelFile(uk_import_path_2023)

dfs_19 = {sheet_name: imports_2019.parse(sheet_name) 
          for sheet_name in imports_2019.sheet_names}

dfs_20 = {sheet_name: imports_2020.parse(sheet_name) 
          for sheet_name in imports_2020.sheet_names}

dfs_21 = {sheet_name: imports_2021.parse(sheet_name) 
          for sheet_name in imports_2021.sheet_names}

dfs_22 = {sheet_name: imports_2022.parse(sheet_name) 
          for sheet_name in imports_2022.sheet_names}

dfs_23 = {sheet_name: imports_2023.parse(sheet_name) 
          for sheet_name in imports_2023.sheet_names}


data_19 = dfs_19["By-HS6Product"]
data_20 = dfs_20["By-HS6Product"]
data_21 = dfs_21["By-HS6Product"]
data_22 = dfs_22["By-HS6Product"]
data_23 = dfs_23["By-HS6Product"]

In [68]:
data_19 = pd.DataFrame(data_19,
                  columns=['Reporter', 'TradeFlow', 'ProductCode', 'Product Description', 'Year', 'Partner', 'Trade Value 1000USD', 'Quantity', 'Quantity Unit'])

data_19 = data_19.drop(columns=["Reporter", "TradeFlow", "ProductCode", "Product Description", "Quantity Unit"])

data_20 = pd.DataFrame(data_20,
                  columns=['Reporter', 'TradeFlow', 'ProductCode', 'Product Description', 'Year', 'Partner', 'Trade Value 1000USD', 'Quantity', 'Quantity Unit'])

data_20 = data_20.drop(columns=["Reporter", "TradeFlow", "ProductCode", "Product Description", "Quantity Unit"])

data_21 = pd.DataFrame(data_21,
                  columns=['Reporter', 'TradeFlow', 'ProductCode', 'Product Description', 'Year', 'Partner', 'Trade Value 1000USD', 'Quantity', 'Quantity Unit'])

data_21 = data_21.drop(columns=["Reporter", "TradeFlow", "ProductCode", "Product Description", "Quantity Unit"])

data_22 = pd.DataFrame(data_22,
                  columns=['Reporter', 'TradeFlow', 'ProductCode', 'Product Description', 'Year', 'Partner', 'Trade Value 1000USD', 'Quantity', 'Quantity Unit'])

data_22 = data_22.drop(columns=["Reporter", "TradeFlow", "ProductCode", "Product Description", "Quantity Unit"])

data_23 = pd.DataFrame(data_23,
                  columns=['Reporter', 'TradeFlow', 'ProductCode', 'Product Description', 'Year', 'Partner', 'Trade Value 1000USD', 'Quantity', 'Quantity Unit'])

data_23 = data_23.drop(columns=["Reporter", "TradeFlow", "ProductCode", "Product Description", "Quantity Unit"])

data_19 = data_19.rename(columns={"Partner": "From", "Trade Value 1000USD": "value"})
data_20 = data_20.rename(columns={"Partner": "From", "Trade Value 1000USD": "value"})
data_21 = data_21.rename(columns={"Partner": "From", "Trade Value 1000USD": "value"})
data_22 = data_22.rename(columns={"Partner": "From", "Trade Value 1000USD": "value"})
data_23 = data_23.rename(columns={"Partner": "From", "Trade Value 1000USD": "value"})

In [69]:
data_19["value"] = 1000 * data_19["value"]
data_20["value"] = 1000 * data_20["value"]
data_21["value"] = 1000 * data_21["value"]
data_22["value"] = 1000 * data_22["value"]
data_23["value"] = 1000 * data_23["value"]

In [76]:
data_23

    Year                  From      value   Quantity
0   2023                 World  5124910.0  145623.00
1   2023                 Spain  2610370.0   84632.00
2   2023    Iran, Islamic Rep.  1408490.0   11229.80
3   2023                France   362830.0     599.00
4   2023           Afghanistan   208670.0    4015.26
5   2023                 India   153890.0   36605.00
6   2023  United Arab Emirates   145790.0     291.00
7   2023                Greece   108150.0     134.00
8   2023                 China    59880.0    1469.00
9   2023               Ireland    21640.0    5258.00
10  2023               Germany    15610.0     123.00
11  2023        United Kingdom    11430.0      86.00
12  2023         United States     6680.0      45.00
13  2023                 Japan     5130.0      68.00
14  2023               Nigeria     5100.0    1067.00
15  2023                Turkey     1240.0       1.00

In [ ]:
data_23['Cost_per_kg'] = data_23['value'] / data_23['Quantity']
data_23

In [75]:
val = 2120640.0 / 55106.00
print(val)
val2 = 476000.0 / 4411.00
print(val2)

# for i, r in data_19.iterrows():
#     quant = r["Quantity"]
#     if pd.isna(quant):

38.48292381954778
107.91203808660168